* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#parent{
    height: 400px;
    width: 100%;
    padding: 30px;
    background-color: #333;
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    overflow: auto;
}

#parent::-webkit-scrollbar{
    background-color: aquamarine;
    height: 5px;
}

#parent::-webkit-scrollbar-thumb{
    background-color: royalblue;
    
}

.child{
    height: 100%;
    width: 250px;
    /* background-color: wheat; */
    border-radius: 10px;
    flex-shrink: 0;
}

.child img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}