*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
}

#nav{
    padding: 30px 70px;
}

#nav a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    margin-right:30px ;
}

#main>h1{
    font-size: 270px;
    font-weight: 400;
    padding-left: 250px;
}

#btmleft{
    width: 150px;
    position: absolute;
    bottom: 20%;
    left: 5%;
}

#btmleft h3{
    font-size: 20px;
}

#btmleft p{
    margin-top: 5px;
    font-size: 10px;
}

#btmleft h4{
    margin-top: 30px;
    font-size: 14px;
}

#bottombar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 70px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#bottombar h1{
    font-weight: 300;
    font-style: italic;
}

#bottombar a{
    color: black;
    text-decoration: none;
    font-size: 32px;
}

#main>img{
    
    position: absolute;
}

#main #first{
    height: 200px;
    position: absolute;
    left: 49%;
    bottom: 20%;
}

#main #second{
    height: 200px;
    position: absolute;
    left: 57%;
    bottom: 10%;

}

#main #third{
    height: 250px;
    position: absolute;
    left: 65%;
    bottom: 24%;
}