*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#box1{
    height: 100px;
    width: 100px;
    background-color: crimson;
}

#box2{
    height: 100px;
    width: 100px;
    background-color: blue;
}

#box3{
    height: 100px;
    width: 100px;
    background: linear-gradient(orange, white, green);
}

#box4{
    height: 100px;
    width: 100px;
    background: linear-gradient(to right,orange, white, green);
}

#box5{
    height: 100px;
    width: 100px;
    background: linear-gradient(to right bottom,orange, white, green);
}

#box6{
    height: 100px;
    width: 100px;
    background: radial-gradient(orange, white, green);
}

#box7{
    height: 100px;
    width: 100px;
    background: conic-gradient(orange, white, green, orange);
}

#outer{
    height: 200px;
    width: 400px;
    background-color: lightgreen;
}

#inner{
    height: 50%;
    width: 50%;
    background-color: brown;
}

#main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1672011012713-de07fc9ee8fc?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}

#box8{
    height: 250px;
    width: 250px;
    background-color: salmon;
    margin: 40px;
    padding-left: 20px;
    padding-top: 50px;
}

button{
    margin: 100px;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: 600;
    background-color: lightseagreen;
    border: none;
    border-radius: 50px;
   
}