*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

/* #car1{
    width: 200px;
    height: 300px;
    background-color: red;
}

#car2{
    position: absolute;
    width: 240px;
    height: 370px;
    background-color: rgb(0, 255, 85);
}

#car3{
    width: 290px;
    height: 450px;
    background-color: rgb(13, 0, 255);
} */

/* #box{
    position: relative;
    height: 400px;
    width: 400px;
    background-color: red;
}

#small{
    position: absolute;
    left: 50%;
    width: 40px;
    height: 40px;
    background-color: yellow;
} */

/* #homepage{
    width: 100%;
    height: 3000px;
    background-color: burlywood;
}

#side{
    position: fixed;
    background-color: red;
    right: 10%;
    top: 50%;
    width: 100px;
    height: 400px;
} */

#parent{
    width: 100%;
    background-color: rgb(135, 222, 158);
}

#child{
    width: 100%;
    height: 2000px;
    background-color: red;
}

#child2{
    width: 100%;
    height: 2000px;
    background-color: burlywood;
}

#sticky{
    position: sticky;
    top: 0;
    width: 300px;
    height: 200px;
    background-color: rgb(0, 55, 255);
}