*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

h1{
    color: red;
    background-color: yellow;
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-style: italic;
    text-align: center;
    text-transform: uppercase;
}

h2{
    color: blue;
}

p{
    color: green;
}