@font-face {
    font-family: wolf;
    src: url(./BarcolaExpanded-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    padding: 30px;
    background-color: lightskyblue;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    height: 300px;
    width: 350px;
    background-color: white;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.36);
    
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.bottom{
    height: 40%;
    width: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.303));
    position: absolute;
    padding: 25px;
    bottom:-40%;
    transition: all ease 0.3s;
    font-family: 'wolf';
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.bottom h4{
    color: white;
    font-size: 30px;
    font-weight: 400;
}

.bottom h3{
    background-color: white;
    padding: 5px 8px;
    border-radius: 50%;
}

.card:hover .bottom{
    bottom: 0;
    
}