* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

h1{
    background-color: aqua;
    display: inline-block;
}

h2{
    background-color: blue;
    display: inline-block;
}