* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

.box{
    height: 200px;
    width: 200px;
    background-color: crimson;
    border-top: 10px solid white;
}

.box:nth-child(4){
    background-color: aqua;
}

.box:nth-child(1){
    border-top: 10px solid white;
}

.box:nth-last-child(5){
    background-color: blueviolet;
}

.box:nth-last-child(1){
    border-bottom: 10px solid white;
}