* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue'; 
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}


#box{
    height: 200px;
    width: 200px;
    background-image: url(https://plus.unsplash.com/premium_photo-1766341850369-96dbdbf035ad?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHwyODd8fHxlbnwwfHx8fHw%3D);
    background-size: cover;
    background-position: center;

    transform: scale(2);

}