@font-face {
    font-family: apple;
    src: url(./sf-pro-text_semibold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: apple;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: white;
}

#nav{
    height: 50px;
    width: 100%;
    background-color: rgb(34, 35, 34);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

#nav h4{
    color: white;
    font-weight: 100;
}

#center{
    height: 80%;
    width: 100%;
    background-image: url(./hero_endframe__xdzisdq1ppem_xlar.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 75px;
}

#center h1{
    color: white;
    font-size: 65px;
    font-weight: 200;
}

#center h5{
    color: white;
    font-size: 35px;
    font-weight: 100;
}

#links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
    padding: 35px;
}

#links button{
    background-color: royalblue;
    color: white;
    padding: 15px 20px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
}