* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap ;
}

.card{
    height: 300px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    
}

.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.card h2{
    font-size: 500;
    font-size: 26px;
}

.card p{
    font-size: 14px;
    font-weight: 600;
    color: #888;
    text-align: center;
}

.card button{
    border-radius: 50px;
    padding: 10px 30px;
    background-color: rgb(52, 255, 208);
    border: none;
    color: white;
    font-weight: 600;
    border: 2px solid rgb(52, 255, 208);
    cursor: pointer;
}

.card button:hover{
    background-color: transparent;
    color: rgb(52, 255, 208);
}
