* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue'; 
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

#box1{
    height: 200px;
    width: 200px;
    background-color: orange;
    color: black;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

/* #box2{
    height: 200px;
    width: 200px;
    background-color: white;
    color: black;
    position: absolute;
    left: 40%;
    top: 40%;
    z-index: 3;
}

#box3{
    height: 200px;
    width: 200px;
    background-color: lightgreen;
    color: black;position: absolute;
    left: 40%;
    top: 40%;
    z-index: 1;
} */